:root {
  @font-face {
    font-family: "Montserrat Black";
    src: url("../../fonts/Montserrat-Black.ttf");
  }
}

* {
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 1080px;
  width: 1920px;
}

body {
  background-image: url("./background.png");
}

.text {
  position: absolute;
  width: 1000px;
  top: 30%;
  letter-spacing: 2px;
  left: 68%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Montserrat Black";
  font-size: 60px;
}

.text > div {
  display: inline;
}

.chevron > img {
  height: 30px;
  margin-bottom: 2.5px;
}

.btn {
  transform: translate(-50%, -50%);
  background-color: rgba(7, 52, 110, 0.7);
  border: 1px solid #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn > img {
  position: absolute;
  width: 75%;
  height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn.home {
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 6%;
  height: 100px;
  width: 100px;
}

.btn.back {
  border-radius: 50%;
  position: absolute;
  top: 75%;
  left: 6%;
  height: 100px;
  width: 100px;
}

.btn1 > .text {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 38px;
}

.btn1 {
  transform: translate(-50%, -50%);
  background-color: rgb(55, 119, 187);
  border: 1px solid #fff;
}
.btn1:hover {
  cursor: pointer;
}

.btn1.btn-0 {
  border-radius: 50px;
  position: absolute;
  top: 55%;
  left: 20%;
  height: 100px;
  width: 300px;
}
.btn1.btn-1 {
  border-radius: 50px;
  position: absolute;
  top: 55%;
  left: 40%;
  height: 100px;
  width: 300px;
}

.btn1.btn-2 {
  border-radius: 50px;
  position: absolute;
  top: 55%;
  left: 60%;
  height: 100px;
  width: 300px;
}

.btn1.btn-3 {
  border-radius: 50px;
  position: absolute;
  top: 55%;
  left: 80%;
  height: 100px;
  width: 300px;
}

.btn1.btn-4 {
  border-radius: 50px;
  position: absolute;
  top: 70%;
  left: 28%;
  height: 100px;
  width: 300px;
}
.btn1.btn-5 {
  border-radius: 50px;
  position: absolute;
  top: 70%;
  left: 48%;
  height: 100px;
  width: 300px;
}
.btn1.btn-6 {
  border-radius: 50px;
  position: absolute;
  top: 70%;
  left: 68%;
  height: 100px;
  width: 300px;
}

.btn2 > .text {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 38px;
}

.btn2 {
  transform: translate(-50%, -50%);
  background-color: rgba(7, 52, 110, 0.7);
  border: 1px solid #fff;
}
.btn2:hover {
  cursor: pointer;
}

.btn2.btn-7 {
  border-radius: 50px;
  position: absolute;
  top: 85%;
  left: 35%;
  height: 100px;
  width: 350px;
}
.btn2.btn-8 {
  border-radius: 50px;
  position: absolute;
  top: 85%;
  left: 60%;
  height: 100px;
  width: 500px;
}
